<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h1 style="margin-left: 5%; margin-top: 5%;">Приветствуем вас в чате</h1><br>
<div class="container">
<a class="btn btn-info" href="/sing-in">Войти</a>
<a class = "btn btn-link" href="/log-in">Зарегестрироваться</a>
</div>
</body>
</html>